/.vs
/MyDevTools.Plugin.EncryptionTools/bin
/MyDevTools.Plugin.EncryptionTools/obj
/MyDevTools.PluginManager/bin
/MyDevTools.PluginManager/obj
/MyDevTools.Plugin/bin
/MyDevTools.Plugin/obj
/MyDevTools/bin
/MyDevTools/obj
/LogProvider/bin
/LogProvider/obj
/UnitTest/bin
/UnitTest/obj
/我的工具集
/packages
/MyDevTools.Plugin.UtilityTools/bin
/MyDevTools.Plugin.UtilityTools/obj
/UnitTest/Test.MyDevTools.Plugin.UtilityTools/Tranfer.cs
bin
obj
/dingtalk-sdk-cshap/taobao-sdk-net-auto_1479188381469-20201109-source.zip
/MyDevTools.Plugin.UtilityTools/可执行文件/ILSpy_binaries
