<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="DingTalkSdk.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <DingTalkSdk.Properties.Settings>
            <setting name="GetTokenServerUrl" serializeAs="String">
                <value>https://oapi.dingtalk.com/gettoken</value>
            </setting>
            <setting name="GetJSApiTicketServerUrl" serializeAs="String">
                <value>https://oapi.dingtalk.com/get_jsapi_ticket</value>
            </setting>
        </DingTalkSdk.Properties.Settings>
    </userSettings>
</configuration>